.footer {
    padding: 30px 0;
    background: var(--main-black);

    h3 {
        font-size: ac(24px, 20px);
        margin-bottom: 20px;
    }

    a {
        text-transform: uppercase;
    }

    p {
        font-size: 16px;
    }

    &__info {
        max-width: 287px;
    }

    &__link {
        display: flex;
        align-items: center;
        gap: 14px;
        transition: color 0.3s ease;

        i {
            font-size: 24px;
            transition: 1s ease;
        }

        &:hover {
            color: var(--pink);

            i {
                color: var(--pink);
                transform: rotateY(-360deg);
            }
        }
    }

    .btn.btn--ghost {
        &:after {
            background: var(--main-black);
        }
    }

    @include media(1201) {
        &__wrap {
            flex-wrap: wrap;

            //> div {
            //    flex-basis: 50%;
            //}
        }
    }
}
