<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="format-detection" content="telephone=no" />
    <meta
            name="viewport"
            content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=5"
    />
<!--    <link rel="icon" type="image/x-icon" href="../../assets/images/favicon.ico" />-->
    <title>{{ title }}</title>

    <meta
        content="Description"
        name="description"
    />
    <meta content="keywords" name="keywords" />
    <meta name="theme-color" content="#6d14ce" />

    <!-- OG-tags -->
    <meta property="og:title" content="Title" />
    <meta
            property="og:description"
            content="Description"
    />
    <meta property="og:site_name" content="Title" />
<!--    <meta property="og:image" content="../../assets/images/og-img.jpg" />-->

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
        href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap"
        rel="stylesheet"
    />
</head>