@font-face {
    font-family: 'icomoon';
    src: url('../assets/fonts/icomoon.eot?cpr93n');
    src: url('../assets/fonts/icomoon.eot?cpr93n#iefix')
            format('embedded-opentype'),
        url('../assets/fonts/icomoon.ttf?cpr93n') format('truetype'),
        url('../assets/fonts/icomoon.woff?cpr93n') format('woff'),
        url('../assets/fonts/icomoon.svg?cpr93n#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^='icon-'],
[class*=' icon-'] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-mail:before {
    content: '\e900';
}
.icon-map:before {
    content: '\e901';
}
.icon-phone:before {
    content: '\e902';
}
.icon-plus:before {
    content: '\e903';
}
.icon-tg:before {
    content: '\e904';
}
.icon-vk:before {
    content: '\e905';
}
.icon-youtube:before {
    content: '\e906';
}
.icon-arrow-down:before {
    content: '\e907';
}
.icon-arrow-right:before {
    content: '\e908';
}
