h1,
h2,
h3,
h4 {
    font-weight: 800;
    line-height: 130%;
    text-transform: uppercase;
}

h1 {
    font-size: ac(86px, 40px);
    line-height: 120%;
}

h2 {
    font-size: ac(80px, 36px);
}

h3 {
    font-size: ac(32px, 22px);
}

p {
    font-size: ac(20px, 16px);
    font-weight: 300;

    line-height: 180%;
}

li {
    font-size: ac(20px, 16px);
    font-weight: 400;

    line-height: 180%;
}

a {
    font-size: 16px;
    font-weight: 600;
    display: inline-block;
    line-height: 120%;
}
